@model Final_Project.Models.ViewModels.PersonalTrackerVM

@{
    ViewData["Title"] = "Add Comments";
}

@if (!User.IsInRole("Admin") && !User.IsInRole("Trainer"))
{
    Context.Response.Redirect("/");
}

<div class="container-xxl page-header page-header-trainee-profile" style="background-color: #e23565">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">Add Comments</h1>
        <p class="lead text-white">Add trainer comments to the trainee tracker</p>
    </div>
</div>

<table class="table table-striped table-bordered table-hover border-dark" style="width: max-content">
    <tr>
        <td>
            <p class="fw-bold">Title</p>
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.Title)
        </td>
    </tr>
    <tr>
        <td>
            <p class="fw-bold">Stop</p>
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.StopSelfFeedback)
        </td>
    </tr>
    <tr>
        <td>
            <p class="fw-bold">Start</p>
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.StartSelfFeedback)
        </td>
    </tr>
    <tr>
        <td>
            <p class="fw-bold">Continue</p>
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.ContinueSelfFeedback)
        </td>
    </tr>
    <tr>
        <td>
            <p class="fw-bold">Comments</p>
        </td>

        <td>
            @Html.DisplayFor(modelItem => modelItem.CommentsSelfFeedback)
        </td>
    </tr>
</table>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditTrainer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group mb-3">
                <label asp-for="TrainerComments" class="control-label fw-bold">Trainer Comments</label>
                    <textarea asp-for="TrainerComments" class="form-control"></textarea>
                    <span asp-validation-for="TrainerComments" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn bg-main" />
                    <a asp-action="IndexTrainer" role="button" class="btn btn-dark">Back to List</a>
                </div>
            </form>
        </div>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
