
@model Final_Project.Models.ViewModels.TitleViewModel

@{
    ViewData["Title"] = "Trainee Treackers";
}

@if (!User.IsInRole("Admin") && !User.IsInRole("Trainer"))
{
    Context.Response.Redirect("/");
}

<div class="container-xxl page-header page-header-trainee-profile" style="background-color: #e23565">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">Trainee Trackers</h1>
        <p class="lead text-white">List of all the trainees and their trackers to view</p>
    </div>
</div>

<form asp-controller="PersonalTracker" asp-action="IndexTrainer" class="border-dark mb-3" id="filter-form" style="display: none;">
    <div class="d-flex mb-3">
        <label for="inputEmail3" class="col-sm-1 col-form-label">Spartan Name:</label>
        <input type="text" asp-for="Search" id="name-filter-search" />
    </div>
    <div class="d-flex mb-3">
        <label for="inputEmail3" class="col-sm-1 col-form-label">Spartan Course:</label>
        <input type="text" asp-for="CourseSearch" id="name-filter-search" />
    </div>
    <div class="d-flex mb-3 align-items-center">
        <label for="inputPassword3" class="col-sm-1 col-form-label">Tracker Title:</label>
        <div class="col-sm-6">
            <select asp-for="TitleSearch" asp-items="Model.Titles" id="title-filter-select">
                <option value="">All</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-dark">Apply Filters</button>
</form>

<button class="btn btn-dark mb-3" id="btn-show-filters">Show Filters</button>
<button class="btn btn-dark mb-3" id="btn-hide-filters" style="display: none;">Hide Filters</button>
<table class="table table-bordered table-hover border-dark">
    <thead>
        <tr class="table-danger border-dark">
            <th>
                @Html.DisplayNameFor(model => model.Trackers[0].Spartan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trackers[0].Spartan!.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trackers[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trackers[0].TrainerComments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Trackers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Spartan!.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spartan!.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerComments)
            </td>
            <td>
                <a asp-action="EditTrainer" asp-route-id="@item.Id" role="button" class="btn bg-main">Add Comments</a>
                <a asp-action="Details" asp-route-id="@item.Id" role="button" class="btn bg-main">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
