@model IEnumerable<Final_Project.Models.Spartan>
@{
    ViewData["Title"] = "Users";
}
<div class="container-xxl page-header page-header-trainee-profile" style="background-color: #e23565; margin-bottom: 1em!important;">
    <div class="container text-center">
        <h1 class="text-white animated zoomIn mb-3">Users</h1>
    </div>
</div>
@if (User.IsInRole("Admin")){
    <p>
        <a asp-action="CreateTrainee" role="button" class="btn bg-main">Create New Trainee</a>
        <a asp-action="CreateTrainer" role="button" class="btn bg-main">Create New Trainer</a>
        <a asp-action="CreateAdmin" role="button" class="btn bg-main">Create New Admin</a>
    </p>
}
else
{
    Context.Response.Redirect("/");
}
<table class="table table table-bordered table-hover border-dark">
    <thead>
        <tr class ="table-danger border-dark">
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" role="button" class="btn btn-danger">Delete User</a>
            </td>
        </tr>
}
    </tbody>
</table>
